.contact-form-container {
  max-width: 700px;
  margin: 10px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.58) inset;
  -webkit-box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.58) inset;
  -moz-box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.58) inset;
  background: #ffffff; 


}

.contact-form-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 0;
  margin-right: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: start;
  font-size: 2rem;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}

textarea {
  height: 120px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}